* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	/*background-color: #fefefe;*/
	background:#F2F2F2;
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	color: #333;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper, .center {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	/*background: #2e2e2e;*/
	background: #000000;
	border-bottom: thin black solid;
}

#header .logo {
	margin: 10px 0px;
}

#header .right{
	margin-top:40px;
}


#search_help {
	padding: 30px 0px;
	background-image: url(../img/landing_front.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	border:0px solid red;
}
#content {
	padding-top: 10px;
	padding-bottom: 10px;
	/*padding-left: 10px;*/
	width: 645px;
	border:0px solid red;
	float:left;
	border-right:1px solid #f3f3f3;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -3px;
	width: 320px;
	/*margin-left: -340px;*/
	/*background: #FFACAA;*/
	padding: 10px;
	padding-top:10px !important;
	margin-top:30px;
	background:#fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	border-top: medium #black solid;
	padding-top: 10px;
	font-size: 11px;
	color: #FFF;
	background-color: #111;
	padding-bottom: 10px;
	margin-top:30px;
}



/* Link
-----------------------------------------------------------------------------*/
a:link 		{text-decoration:none;color:#247aac;}
a:hover,
a:active 	{text-decoration:underline;}
a:visited	{color:#247bbc;}


/* Float
-----------------------------------------------------------------------------*/
.left 		{float: left;}
.right 		{float: right;}
.main_q {
	width: 570px;
}
#header .center .right {
	font-size: 11px;
	color: #CCC;
}


.clear 		{clear: both;}



/* Navigation 
----------------------------------------------------------------------------*/
#menu {
    /*background: #212121;*/
    background: #111;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(00, 00, 00, 0.2);
	-moz-box-shadow: 0px 2px 1px 0px rgba(00, 00, 00, 0.2);
	box-shadow: 0px 2px 1px 0px rgba(00, 00, 00, 0.2);
}

ul#navigation {
	border:0px solid red;
	height: 30px;
	width:780px;
}

ul#navigation li {
    float:left;
    list-style:none;
}

ul#navigation li a {
    display:block;
    line-height: 30px;
    padding:0px 10px;
	color:#FFFFFF;
	text-decoration:none;
}
ul#navigation li a:hover,
ul#navigation li a:active  {
	color:#ffba00;
}

.box {
	margin-bottom: 20px;
	width: 620px;
}

.browse_industry, .browse_location {
	font-size:11px;
}
.freatured_employer {
}
.title {
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	margin-bottom:20px;
}
.featured_candidate {
}
.location_lists {
	
}
.location_lists ul, .industry_lists ul, .featured_emplyed_lists ul, .featured_candidate_list ul {
	list-style-type: square;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 20px;
}
.industry_lists {
}
.sidebarBox {
	margin-bottom: 20px;
	width: 320px;
}

.sidebarBox strong {
	font-size: 16px;
	line-height:16px;
}

/*---------- icon ----------------------*/
.icon_bookmark {
	background-image:url(../img/icon_black/ic_bookmark.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
}

.icon_favorite {
	background-image:url(../img/icon_black/ic_favorite.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
}

.icon_archive {
	background-image:url(../img/icon_black/ic_archive.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
}

.icon_zoom {
	background-image:url(../img/icon_black/ic_zoom.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
	font-size:16px;
}

.icon_help {
	background-image:url(../img/icon_black/ic_empty_document.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
	font-size:16px;
}

.icon_pin {
	background-image:url(../img/icon_black/ic_pin.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
}

.ic_folder {
	background-image:url(../img/icon_black/ic_folder.png);
	background-position:left center;
	padding-left:20px;
	background-repeat:no-repeat;
}
/*--------------------*/

.sidebarBox ul, .sidebarFullBox ul {
	list-style:none;
}
.featured_emplyed_lists {
}
.featured_candidate_list {
}
.search_container {
	/*border: thin solid #909090;*/
	padding: 8px;
	background:#fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.sidebar_howto {}

.sidebarFullBox {
    border: 1px solid #eee;
    background: white;
    margin-bottom: 20px;
	width: 320px;
}

.sidebarFullBox .sidebarHeader {
    background-color: #2e2e2e;
    padding: 4px;
    margin-bottom: 5px;
    border-bottom: 2px solid #ffba00;
    color: white;
}

.sidebarFullBoxContainer {
    padding: 5px 10px;;
}

select {width:100%;}
input[type="radio"] {
	height:18px;
}
select, input {padding:2px}
.csstable {
	background-color:#FFFFFF;
	margin-top: 5px;
	border:1px solid black;
}
.topTableCaption {
	font-size: 11px;
	padding: 4px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.csstable th {
background-color:#2e2e2e;
color: #fff;
padding:4px;
border-bottom:1px solid #333;
}

.csstable, tr, td {
	border-collapse: collapse;
	padding: 4px;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}

.csstable tr:nth-of-type(odd) {
  background-color:#EEE;
}
.csstable tr:hover {
  background-color:#fff779;
}


/*Table css2*/
.csstable2 {
	background-color:#FFFFFF;
	margin-top: 5px;
	/*border:1px solid black;*/
}


.topTableCaption {
	font-size: 11px;
	padding: 4px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.csstable2 th {
background-color:#CCC;
color: #333;
padding:4px;
border-bottom:1px solid #e1e1e1;
}

.csstable2, tr, td {
	border-collapse: collapse;
	padding: 4px;
	border-top-color: #e1e1e1;
	border-right-color: #e1e1e1;
	border-bottom-color: #e1e1e1;
	border-left-color: #e1e1e1;
}

.csstable2 tr:nth-of-type(odd) {
  background-color:#EEE;
}
.csstable2 tr:hover {
  background-color:#fff779;
}
/*******/
.paginate {
	padding: 4px;
	width: 580px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 12px;
}
.master_details {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	width:600px;
}

.master_details_full {
	width:100%;
}

.hide {display:none}
.jobEmployer {
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
}

#content, #sideRight {
    padding-top:30px;
}.note {
	font-size: 10px;
	color: #999;
}
.req {
	font-size: 11px;
	color: #F00;
}
.success {
	font-size: 14px;
	color: #69cc46;
}
#wrapper #middle #container #content .box .search_container {
	background-color: #feb900;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius::5px
}
.menu_container {
	margin-top: 10px;
	margin-bottom: 10px;
	width:600px;
}
ul#default_inline_menu  {
	border:1px solid #d1d1d1;
	list-style: none;
	height: 30px;
	background:#e2e2e2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
ul#default_inline_menu li {
	display: inline;
	line-height:30px;
	padding:0px 10px;
}

ul#default_inline_menu img {
    border: 0px solid red;
    margin-top: 6px;
    position: absolute;
}

ul#default_inline_menu li a {
    padding-left: 22px;
}

/* applicant menu */
ul#default_inline_menu_2  {
	border:1px solid #d1d1d1;
	list-style: none;
	height: 30px;
	background:#e2e2e2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
ul#default_inline_menu_2 li {
	display: inline;
	line-height:30px;
	padding-left:8px;
}

ul#default_inline_menu_2 img {
    border: 0px solid red;
    margin-top: 6px;
    position: absolute;
}

ul#default_inline_menu_2 li a {
    padding-left: 22px;
}

.resumebox {
	/*border: 1px solid #CCC;*/
	padding: 6px;
	width:580px;
	margin-bottom:20px;
	
	background:#fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
div.box.resumebox {
	/* border-top:2px solid #ccc; */
}

div.box.resumebox table tr:hover, div.resumebox table tr:hover {
	background:#f5f5f5;
}

.def_width_box {width:190px;}
.def_width_box_2 {width:170px;}
.def_width_box_3 {width:150px;}
#wrapper #middle #container .full {
	padding: 5px;
	width: 980px;
}
#wrapper #middle #container #content_full {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border:0px solid red;
	float:left;
	width: 980px;
	border:0px !important;
}
select.date {width: auto !important;}
textarea {padding:5px;
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	color: #333;}
	
.boxcenter {
	width: 800px;
	margin:0 auto;
}
div.apply_container {
	color:#0b903d;
	background-color: #CCC;
	text-align: center;
	padding: 4px;
	width:590px;
}

div.browse_industry ul {
    border: 0px solid red
;
}

div.browse_industry ul li {
    border: 0px solid blue;
    float: left;
    width: 280px;
}

div.browse_industry ul li:nth-child(2n) {
    margin-left: 20px;
}

.button {
	display: block; 
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 8px 12px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
}
.button:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

.green {
	color: #5a742d;
	border: 1px solid #95b959;
	background-image: -moz-linear-gradient(#cae387, #a5cb5e);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
	background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
	background-image: -o-linear-gradient(#cae387, #a5cb5e);
	text-shadow: 1px 1px 1px #dff4bc;
	background-color: #a5cb5e;
}
.green:hover {
	border: 1px solid #687e30;
	background-image: -moz-linear-gradient(#a5cb5e, #cae387);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
	background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
	background-image: -o-linear-gradient(#a5cb5e, #cae387);
	background-color: #cae387;
	cursor:pointer;
}
.green:active {border: 1px solid #506320;}
.dateSidebar {font-size:11px; color:#d1d1d1}


.location_lists ul {
    border:0px solid blue
}

.location_lists ul li {
    float:left;
    width:280px;
    border:0px solid red;
}

.location_lists ul li:nth-child(2n) {
    margin-left:16px;
    /*background:red;*/
}


/* Information */
#infomation {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 8px;
	border:1px solid #3993F4;
	background:#A5E4FA;
	margin:20px 0px;
	font-weight:bold;
	line-height:24px;
}
#infomation img {
	position: absolute;
}


/* modal */
