* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	background-color: #fefefe;
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	color: #333;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper, .center {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	background: #2e2e2e;
	border-bottom: medium #ffba00 solid;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	border:0px solid red;
}
#content {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 640px;
	border:0px solid red;
	float:left;
	border-right:1px solid #f3f3f3;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -3px;
	width: 320px;
	/*margin-left: -340px;*/
	/*background: #FFACAA;*/
	padding: 10px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	border-top: thin #f3f3f3 solid;
	padding-top: 10px;
	font-size: 11px;
}



/* Link
-----------------------------------------------------------------------------*/
a:link 		{text-decoration:none;color:#247aac;}
a:hover,
a:active 	{text-decoration:underline;}
a:visited	{color:#247bbc;}


/* Float
-----------------------------------------------------------------------------*/
.left 		{float: left;}
.right 		{float: right;}
.main_q {
	width: 570px;
}
#header .center .right {
	font-size: 10px;
	color: #CCC;
}


.clear 		{clear: both;}



/* Navigation 
----------------------------------------------------------------------------*/
#menu {
    background: #212121;
}

ul#navigation {
	border:0px solid red;
	height: 30px;
}

ul#navigation li {
    float:left;
    list-style:none;
}

ul#navigation li a {
    display:block;
    line-height: 30px;
    padding:0px 10px;
	color:#FFFFFF;
	text-decoration:none;
}
ul#navigation li a:hover,
ul#navigation li a:active  {
	color:#ffba00;
}

.browse_location {

}
.box {
	margin-bottom: 20px;
	width: 610px;
}

.browse_industry {
}
.freatured_employer {
}
.title {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.featured_candidate {
}
.location_lists {
	
}
.location_lists ul, .industry_lists ul, .featured_emplyed_lists ul, .featured_candidate_list ul {
	list-style-type: square;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 20px;
}
.industry_lists {
}
.sidebarBox {
	margin-bottom: 20px;
}
.sidebarBox ul {
	list-style:none;
}
.featured_emplyed_lists {
}
.featured_candidate_list {
}
.search_container {
	border: thin solid #CCC;
	padding: 8px;
}
.sidebar_howto {}

select {width:100%;}
select, input {padding:4px}
.csstable {
	background-color:#FFFFFF;
	margin-top: 5px;
	border:1px solid black;
}
.topTableCaption {
	font-size: 11px;
	padding: 4px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.csstable th {
background-color:#999;
padding:4px;
border-bottom:1px solid #333;
}

.csstable, tr, td {
	border-collapse: collapse;
	padding: 4px;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}

.csstable tr:nth-of-type(odd) {
  background-color:#EEE;
}
.csstable tr:hover {
  background-color:#ddd;
}

.paginate {
	padding: 4px;
	width: 580px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 11px;
}
.master_details {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.hide {display:none}.jobEmployer {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
}
